In [ ]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn

In [ ]:
# Dataset load from drive
df=pd.read_csv('/content/drive/MyDrive/Python programming/Dataset_kaggle/kaggle_dataset/credit card taiwan svm algorithm.csv')

In [ ]:
# show the first 10 rows of the data
df.head(10)

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0
5   6    50000.0    1  ...    1000.0     800.0                           0
6   7   500000.0    1  ...   13750.0   13770.0                           0
7   8   100000.0    2  ...    1687.0    1542.0                           0
8   9   140000.0    2  ...    1000.0    1000.0                           0
9  10    20000.0    1  ...    1122.0       0.0                           0

[10 rows x 25 columns]

In [ ]:
# check the data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  float64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  float64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  float64
 13  BILL_AMT2                   30000 non-null  float64
 14  BILL_AMT3                   30000 non-null  float64
 15  BILL_AMT4                   30000 non-null  float64
 16  BILL_AMT5                   30000 non-null  float64
 17  BILL_AMT6                   30000 non-null  float64
 18  PAY_AMT1                    30000 non-null  float64
 19  PAY_AMT2                    30000 non-null  float64
 20  PAY_AMT3                    30000 non-null  float64
 21  PAY_AMT4                    30000 non-null  float64
 22  PAY_AMT5                    30000 non-null  float64
 23  PAY_AMT6                    30000 non-null  float64
 24  default.payment.next.month  30000 non-null  int64
dtypes: float64(14), int64(11)
memory usage: 5.7 MB

In [ ]:
# now check NaN (means null (not equal zero=0) value
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           2
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [ ]:
# now NaN value remove by mean or median 
missing=df.AGE.mean()

In [ ]:
df.AGE=df.AGE.fillna(missing) ## now null value is fill up by missing which is mean

In [ ]:
# SVM is a classiffication algorithm; so feature column must be separted
x=df.drop(['default.payment.next.month'], axis=1)
y=df['default.payment.next.month']

In [ ]:
# now train data and test data separate
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y, test_size=0.25, random_state=1)

In [ ]:
# create object for SVM
model= SVC(gamma='auto')

In [ ]:
model.fit(xtrain,ytrain)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
model.score(xtest,ytest)

0.7776

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# now create object for RandomForestClassifier
obj=RandomForestClassifier(n_estimators=150)
obj.fit(xtrain,ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=150,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
obj.score(xtest,ytest)

0.8174666666666667

In [ ]:
# now use decision tree classifier 
from sklearn.tree import DecisionTreeClassifier

In [ ]:
obj_dec= DecisionTreeClassifier()

In [ ]:
obj_dec.fit(xtrain,ytrain)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
obj_dec.score(xtest,ytest)

0.7249333333333333

In [ ]:
# now use for Naive base classifer
from sklearn.naive_bayes import GaussianNB

In [ ]:
GNB=GaussianNB()
GNB.fit(xtrain,ytrain)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
GNB.score(xtest,ytest)

0.3848

In [ ]:
from sklearn.naive_bayes import BernoulliNB

In [ ]:
BNB=BernoulliNB()

In [ ]:
BNB.fit(xtrain, ytrain)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [ ]:
BNB.score(xtest,ytest)

0.7713333333333333