### **Basic_python: by Azim Khan**

In [ ]:
list=[1,2,3,56,7,7,'azim'] # list alwys use square bracket
print(list)

[1, 2, 3, 56, 7, 7, 'azim']

In [ ]:
list.extend([1,4,5])

In [ ]:
list.remove(1)
print(list)

[2, 3, 56, 7, 7, 'azim', 1, 4, 5]

In [ ]:
list.remove(list[0])
print(list)

[3, 56, 7, 7, 'azim', 1, 4, 5]

In [ ]:
print(list.count(7))

2

## **tuple**
#orderder that is unchangable

In [ ]:
tuple= (1,29,3, 4,56,7 )
print(tuple)

(1, 29, 3, 4, 56, 7)

In [ ]:
import sys
print('tuple', sys.getsizeof(tuple))
print('list', sys.getsizeof(list))

tuple 96
list 120

In [ ]:
tuple.remove(1) # tuple can not remove, but list can do it. and use # del tuple to

In [ ]:
#set, write in curly braket({}) and don't allow duplicate value
se={2,4,6,6,2,6}
print(se)

{2, 4, 6}

In [ ]:
se.update([8,9,10])
print(se)

{2, 4, 6, 8, 9, 10}

In [ ]:
se.remove(2)
print(se)

{4, 6, 8, 9, 10}

In [ ]:
#set.remove(35), because 35 is not in the set
#print(set)

In [ ]:
# now intersection in the set
s1={4,5,63,6,1,3}
s2={3,5,6,75,7}
s3={2,5,6,7,8,9} 
s4=s1.intersection(s2)
print(s4)

{3, 5, 6}

In [ ]:
print(s2.union(s1))
print(s2.difference(s1))

{1, 3, 4, 5, 6, 7, 75, 63}
{75, 7}

In [ ]:
# how to convert list into set
lis=[1,4,5,6,43,23,42,12,4,5,6,2,2]
print(set(lis))

In [ ]:
# dictionary is a unorderd changable index, always use curly {}; key: value; key must be unique
d={'name':"azim",'age': 27,'profession':'scientis', 'a':10, 10: 10 }
print(d[10])

In [ ]:
 dic={1:'ID', 2: 'name', 3: 'age', 4:'time'}
 print(dic)
print(dic[1])
print(dic.get(4))
print(dic.keys())

{1: 'ID', 2: 'name', 3: 'age', 4: 'time'}
ID
time
dict_keys([1, 2, 3, 4])

In [ ]:
#nested dictionary
student1={'1st':{1:'votar_ID', 2:'name', 3:'location'},
          '2nd':{1:'name', 2:'age', 3:'sex'},
          '3rd':{1:'mark', 2:'score'}
} 
#print(student1)
print(student1['2nd'])
print(student1['3rd'][2])
del student1['1st'][1]
print(student1)
#how to add keys
student1['4th']={}
student1['4th'][1]='name'
student1['4th'][2]='age'
student1['4th'][3]='male'
print(student1)
del student1['1st']
print(student1)

{1: 'name', 2: 'age', 3: 'sex'}
score
{'1st': {2: 'name', 3: 'location'}, '2nd': {1: 'name', 2: 'age', 3: 'sex'}, '3rd': {1: 'mark', 2: 'score'}}
{'1st': {2: 'name', 3: 'location'}, '2nd': {1: 'name', 2: 'age', 3: 'sex'}, '3rd': {1: 'mark', 2: 'score'}, '4th': {1: 'name', 2: 'age', 3: 'male'}}
{'2nd': {1: 'name', 2: 'age', 3: 'sex'}, '3rd': {1: 'mark', 2: 'score'}, '4th': {1: 'name', 2: 'age', 3: 'male'}}

In [ ]:
#Mathmatecial operator; if else or statement
x=2
y=89
if y>x:
  print('zim')
elif y<x:
   print('you')

zim

In [ ]:
num=int(input("any number= "))
if num<0:
   print("number is negative")
elif num>0:
   print("number is positive")
elif num==0:
   print('number is zero')

any number= 89
number is positive

In [ ]:
#find out the maximum number bewteen three numbers
x=int(input('enter a number'))
y=int(input('enter a another number'))
z=int(input('enter a next number'))
if

In [ ]:
# ternary operator and largest number find out using ternary operator9
x=int(input('enter a number'))
y=int(input('enter a another number'))
z=int(input('enter a next number'))
# print('yes' if True else )
larx= x if x>y else y
largest=larx if larx>z else z
print(largest)

enter a number67
enter a another number89
enter a next number5
89

In [ ]:
x= int(input('enter any number'))
y= 'even' if x % 2==0 else 'odd'
print(y)
#swp two number
a= 20
b=40
a=a+b;
b=a-b;
a=a-b;
# a,b=b,a
print(a,b)

enter any number8
even
20 40

In [ ]:
def salariy(x):
  assert x>0, " salariy can not be negative"
  print(x)
a=salariy(5000)

5000

In [ ]:
import math
x=25
print(math.pow(x,2))
print(math.sqrt(x))

625.0
5.0

In [ ]:
#math can write in this way
import math as m
x= 25
print(m.pow(x,2))

625.0

In [ ]:
#help('sklearn'); this is very important to know the function in a liabray

In [ ]:
#for loop
a=[3,4,5,6,4,60]
total=0;
for x in a:
  total=total+x
print(total)

In [ ]:
dep=['cse','EEE','ME','civil']
for a in dep:
  print(a)

cse
EEE
ME
civil

In [ ]:
total=0
for i in range(1,11): # total 1 to 10 number summation; not 1 to 11; 
  total+=i
print(total)

In [ ]:
# prime number check
x=int(input('enter any number'))
for y in range(2,x):
  if(x % 2==0):
    print('the number is prime')
    break
else:
    print('the number is not prime')

In [ ]:
#while loop
n=1
while(n<11):
  n=n+1
  print('zim')

In [ ]:
# in function must write def function_name(argument,argument): must write colon

In [ ]:
# 0 1 1 2 3 5 8 13 21 34 55 89
def fibo(x):
  a=0
  b=1
  print(0)
  print(1)
  for i in range(2,x):
    c=a+b
    a=b
    b=c
    print(c)
fibo(16)

In [ ]:
#factorial find out using python using function
def fact(x):
 ini=1
 for i in range(1, x+1):
   ini=ini *i
 return ini
result= fact(5)
print(result)

In [ ]:
#without function
n=int(input('enter any value'))
f=1
for i in range(1, n+1):
  f=f*i
print(f)

enter any value5
120

In [ ]:
# using another way
import math
n=5
r=math.factorial(n)
print(r)

120

In [ ]:
# speacial symol in python; how can hndle type error'*arg by this you can take multiple argument
def mul(*arg):
  result= 1
  for i in arg:
    result= result * i
  print(result)
mul(3,4,5,5,6)

In [ ]:
#keyword argument and non keyword argument 
def myself(age, **others):
  print(age)
  print(others)
myself(23, name='azim', university='cuet',country='Bangladesh')

23
{'name': 'azim', 'university': 'cuet', 'country': 'Bangladesh'}

In [ ]:
#multidimenstional array in python and dimension conversion form 1D to 3D
import numpy as np

array1= np.array([[1,2,3,4,5,6],
                  [3,5,6,7,7,8]
])
print(array1)
array2= array1.flatten()
print('1D=',array2)
array3= array2.reshape(3,4)
print(array3)
# print the array element
for i in range(0,3):
  for j in range(0,4):
     print(array3[i][j])
  array4= array3.reshape(3,4)
  print(array4)

In [ ]:
#matrix in python
import numpy as np
m1=([1,2,4],[2,3,4],[6,7,8])
m2=([9,6,4],[1,8,4],[3,4,6])
#print(m1)
#print(m2)
result=np.subtract(m1,m2)
print(result)
# multiplication
result=np.dot(m1,m2)  # multiplication use dot this is for matrix multiplicaton
print(result)
result=np.multiply(m1,m2) # this is not matrix multiplication, its element wise multiply
print(result)

In [ ]:
#zip function in python; you combine to list by zim
p1=['azim','staup','sip','tamim']
p2=[23, 12, 3, 44]
combine_two_list=list(zip('1234',p1,p2))
print(combine_two_list)
# now unzip
allinfo=[('1', 'azim', 23), ('2', 'staup', 12), ('3', 'sip', 3), ('4', 'tamim', 44)]
unzip_all_info= list(zip(*allinfo))
print(unzip_all_info)
serial=unzip_all_info[0]
name=unzip_all_info[1]
age=unzip_all_info[2]
print('serial',serial)
print('name',name)
print('age',age)

[('1', 'azim', 23), ('2', 'staup', 12), ('3', 'sip', 3), ('4', 'tamim', 44)]
[('1', '2', '3', '4'), ('azim', 'staup', 'sip', 'tamim'), (23, 12, 3, 44)]
serial ('1', '2', '3', '4')
name ('azim', 'staup', 'sip', 'tamim')
age (23, 12, 3, 44)

In [ ]:
# lambda function in python, lambda can take many argument; funtion without name
#structure: f= lambda a : a * a
#f= is function object or variable that accepts and stores the result of the expression
# lambda is keyword
# a is the argument
# a *a one line expressio
#normal function and lambda function
def mul(x,y,z):
   return x*y*z
result= mul(3,4,5)
print(result)
# now using lambda function
result=(lambda x,y,z : x*y*z )(3,4,5)
print(result)

In [ ]:
# map functio in python language, map can take parameter or iterable object of other function
# using normal function
def mul_five_times(number):
   return number * 5
result=[]
num=[2,3,4,5,6,7,8,5]
for i in num:
  result.append(mul_five_times(i)) # using append you can add value in list
print(result)
# now using map function
def mul_five_times(number):
   return number * 5
num=[2,3,4,5,6,7,8,5]
y=list(map(mul_five_times, num))
print(y)

In [ ]:
# filter function; iterable object means list from list you can filet any vaule by filter fucntion
num=[1,2,3,4,5,6,7,8,9,-9,6]
result= list(filter((lambda n: n%2),num))
print('the odd number', result)

In [ ]:
# reduce function in python; like math functin
import functools
def add_two_values(num1, num2):
  return num1+num2
lis=[3,4,3,6,7]
result= functools.reduce(add_two_values, lis)
print(result)

In [ ]:
# local and global variable ; to change global variable write global
x=100  # this x is global variable
def some_func():
  #global x # dont use it
  y= x+50   # this x is local variabl
  print('inside', y)
  print(id(y))
some_func()
print('outside', x) # here x is global 
print(id(x))
def abd():
  x=200   #now this is local variable x
  print('another for', x)
  print(id(x))
abd()

In [ ]:
# default parameter
def mypower(a,b=5):
  return pow(a,b)
x=mypower(2,3)
print(x)
# using string
def name(x='azim'):
  print('my name is ', x)
name("azimmma")

In [ ]:
# recurrsion in python; is a process of calling a function
def myfact(x):
  if x==0:
    return 1
  return x*myfact(x-1)
result=myfact(4)
print(result)

24

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [ ]:
from gtts import gTTS
import os
fil = open('my_text.txt',"r")
mytext=fil.read().replace("\n", "  ")
language='en'
output=gTTS(text=mytext, lang=language, slow= False)
output.save('output.mp3')
fil.close()
os.system("start output.mp3")

In [ ]:
import statistics
list=[1,4,5,6,9,10,8,8,8,8]
av= statistics.mean(list)
mad=statistics.median(list)
pra=statistics.mode(list)
print(av)
print(mad)
print(pra)

6.7
8.0
8

In [ ]:
import numpy as np
import statistics
num= np.random.randint(5, 50,20)
print(num)
result=np.max(num)-np.min(num)
print(result)

[22  9 45 35 40 33 43 15 47 35 10 30 46 31 40 38  8 43 47 43]
39

In [ ]:
import numpy as np
import statistics
dataset=[2,3,4,5,6,7,8]
print(statistics.median(dataset))
Q1=np.percentile(dataset,25)
Q2=np.percentile(dataset,50)
Q3=np.percentile(dataset,75)
print(Q1)
print(Q2)
print(Q3)

5
3.5
5.0
6.5

In [ ]:
# variance in statistics; how far data is from the center
import numpy as np
population=np.random.rand(40)
sample=np.random.choice(population,20)
var_p=np.var(population)
var_s=np.var(sample)
print(var_p)
print(var_s)

0.07684734553271069
0.08790469869438498

In [ ]:
#standard_devition
import numpy as np
pop=np.random.rand(30)
samp=np.random.choice(pop,20)
std_pop=np.std(pop)
std_samp=np.std(samp)
print(std_pop)
print(std_samp)

0.29108953482468986
0.3160414960526296

In [ ]:
age=[10,20,0,30,40,50,0,40]
sum=0
if 0 in age:
  for i in age:
    sum=sum+i
    mean=sum/(len(age)-1)
print(mean)

27.142857142857142

In [ ]:
if 0 in age:
  age.remove(0)
  age.append(mean)
print(age)

[10, 20, 27.142857142857142, 30, 40, 50, 0, 40, 27.142857142857142, 27.142857142857142]

In [ ]:
age=[50,29,0,21,40,10,30,0,0,0,1]
sum=0
count=[]
for j in age:
  sum=sum+j
  if j==0:
    count.append(j)
  mean=sum/(len(age)-len(count))
for i in range(len(age)):
  if age[i]==0:
    age[i]=mean
print(age)

[50, 29, 25.857142857142858, 21, 40, 10, 30, 25.857142857142858, 25.857142857142858, 25.857142857142858, 1]

In [ ]:
age=[50,29,0,21,40,10,30]
zero_value=0
sum=0
if 0 in age:
  for i in age:
    sum=sum+i;
    c= len(age)
    d=c-1
    mean=sum/d
print(mean)
new_age=append.age[2]

7
30.0