In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('//content/drive/MyDrive/Python programming/Dataset_kaggle/kaggle_dataset/marital status.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     20 non-null     int64
 1   status  19 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 448.0 bytes

In [ ]:
df.isnull().sum()

age       0
status    1
dtype: int64

In [ ]:
handle= df['status'].median()
df.status= df.status.fillna(handle)
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [ ]:
df['status'].value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

In [ ]:
x=df[['age']] # independent variable or feature always kept in  double  bracket [[]]
y=df['status']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y, test_size=0.30, random_state=1)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model=LogisticRegression()

In [ ]:
model.fit(xtrain,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
model.predict(xtest)

array([1., 0., 0., 0., 0., 1.])

In [ ]:
model.score(xtest, ytest) # this is for logistic regression output, now sigmoid function's output

0.8333333333333334

In [ ]:
model.predict_proba(xtest) # this is the output for logistic function means sigmoid function output
# this output depends on this sigmond result or this probability

array([[0.28697051, 0.71302949],
       [0.9902967 , 0.0097033 ],
       [0.80161052, 0.19838948],
       [0.50311753, 0.49688247],
       [0.71810555, 0.28189445],
       [0.02465085, 0.97534915]])